# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js, ts}]
charset = utf-8

# tab indentation javascript and typescript
[*.{js, ts}]
indent_style = tab
indent_size = 2

# tab_width space javascript and typescript
# [*.{js, jsx}]
# tab_width = 3

# tab_width space javascript and typescript
# [*.{html, css}]
# tab_width = 2